.header-full {
    width: 100%;
    min-height: 700px;
    height: 100%;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-family: Josefin Sans, sans-serif;
    font-size: 48px;
    letter-spacing: 4.8px;
    text-align: center;
}

h2 {
        font-family: Josefin Sans, sans-serif;
        color: rgb(255, 255, 255);
        font-family:Josefin Sans, sans-serif ;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;   
        text-transform: uppercase; 
        color:rgb(255, 255, 255) ;
        font-family: Josefin Sans, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;   
        text-transform: uppercase; 
        font-size: 22px;
        letter-spacing: 6.8px;
        text-align: center;
}

.header-full_sec3 {
    display: flex;
    flex-direction: column;
}

.header__para {
    font-family:josefin sans, sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: center;
}

.fa-chevron-down {
    color:  rgb(255, 255, 255);
    text-align: center;
}

.header__inputfield {
   font-family:Aleo, serif;
    color: rgb(84, 116, 253);
    font-size: 16px; 
    letter-spacing: 1.2px; 
    text-transform: uppercase;
    text-align: center;
}

.all_link-button-text {
   font-family:Aleo, serif ;
    font-size: 16px;
    letter-spacing: 1.2px; 
    text-transform: uppercase;
    text-decoration: none;
}

.form {
    background-color:  rgb(255, 255, 255);
    height: 50px;
    display: flex;
    align-items: center;
}

.input {
    border: none;
}

.input:focus {
    border: 2px solid rgb(84, 116, 253);
}


.button {
    background-color: rgb(84, 116, 253);
    border: none;
    height: 50px;
    max-width: 200px;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(84, 116, 253);
    color:rgb(84, 116, 253);
    cursor: pointer;
}

.header__footer {
    width: 100%;
    background-color: rgb(84, 116, 253);
}

.test {
    font-family: Josefin Sans, sans-serif;
    font-size: 24px;
    letter-spacing: 2.4px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li {
    display: inline;
    padding: 10px;
}

.header__footer {
    display: flex;
    justify-content: space-evenly;
}

.header__footer__nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__footer__nav-list:hover {
    color: rgb(84, 116, 253) ;
    background-color: rgb(255, 255, 255) ;
    border: 2px solid  rgb(84, 116, 253);
}